{
    "application_database_ver": 1,
    "application_db_external": 1,
    "application_db_external_dbname": "genero_template",
    "enable_geolocation": 0,
    "enable_mobile_title": 0,
    "timed_checks_time": 10,
    "enable_timed_connect": 1,
    "enable_splash": 1,
    "splash_duration": 4,
    "enable_login": 1,
    "local_stat_limit": 100,
    "online_ping_URL": "http://www.google.com",
    "date_format": "%d/%m/%Y %H:%M",
    "default_language": "EN",
    "local_images_available": ["EN","FR"],
    "debug_level": 0
}