{
    "application_database_ver": 1,
    "application_db_external": 1,
    "application_db_external_dbname": "Genero_Template",
    "application_db_external_driver": "dbmmys_5_5",
    "application_db_external_config": "/etc/mysql/my.cnf",
    "application_db_external_username": "genero_framework",
    "application_db_external_password": "3WRYn8&Xx,hTg5:`",
    "application_db_external_extra_security": 1,
    "enable_geolocation": 0,
    "enable_mobile_title": 0,
    "timed_checks_time": 10,
    "enable_timed_connect": 1,
    "enable_splash": 1,
    "splash_duration": 4,
    "enable_login": 1,
    "local_stat_limit": 100,
    "online_ping_URL": "http://www.google.com",
    "date_format": "%d/%m/%Y %H:%M",
    "default_language": "EN",
    "local_images_available": ["EN","FR"],
    "debug_level": 0
}